Repository seankim-business/corp-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0"
  ],
  "frontend/src/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

docs: update roadmap - Phase 4 Q3 Extension System complete
  docs/planning/02-roadmap.md
Due: prettier --write

docs: mark Phase 3 (Intelligence) as 100% complete
  docs/planning/02-roadmap.md
Due: prettier --write

fix: QA/QC improvements - lint errors and frontend bugs
  frontend/src/pages/ApprovalsPage.tsx
  frontend/src/pages/MembersPage.tsx
  frontend/src/pages/WorkflowsPage.tsx
  src/__tests__/e2e/sop-execution.test.ts
  src/admin/services/revenue.ts
  src/api/slack.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: add missing auto-approval service and fix anthropic environment API key
  prisma/schema.prisma
  src/__tests__/unit/auto-approval.test.ts
  src/api/approvals.ts
  src/providers/anthropic-provider.ts
  src/services/account-pool/account-pool.service.ts
  src/services/auto-approval.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: sync pending changes
  .omc/sessions/d27f9a9d-4493-4eff-a81a-c11228170500.json
  .omc/state/subagent-tracking.json
  frontend/.omc/sessions/0f646f7d-c61c-47cf-b7b9-fc0ac9327ff3.json
  frontend/.omc/state/subagent-tracking.json
  frontend/src/pages/MarketplaceHubPage.tsx
  package-lock.json
  package.json
  prisma/schema.prisma
  src/__tests__/unit/slack-format.test.ts
  src/api/notion-webhooks.ts
  src/api/slack.ts
  src/services/email/inbound-parser.ts
  src/services/extension-registry/types.ts
  src/services/mega-app/feature-request-pipeline/embedding.service.ts
  src/services/notion/client.ts
  src/utils/slack-agent-status.ts
  src/utils/slack-feedback-blocks.ts
  src/utils/slack-streaming.ts
  src/workers/notification.worker.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: sync local changes before merge
  .env.example
  .omc/state/subagent-tracking.json
  docs/EMAIL_INBOUND_PARSE_IMPLEMENTATION.md
  docs/NOTION_WEBHOOK_INTEGRATION.md
  frontend/.omc/state/subagent-tracking.json
  prisma/migrations/20260130_add_mega_app_config/migration.sql
  prisma/schema.prisma
  src/api/email-webhooks.ts
  src/api/notion-webhooks.ts
  src/api/slack.ts
  src/index.ts
  src/marketplace/services/tool-recommender.ts
  src/marketplace/types/installation-modes.ts
  src/services/email/acknowledgment.service.ts
  src/services/email/inbound-parser.ts
  src/services/extension-registry/extension-registry.ts
  src/services/mega-app/feature-request-pipeline/deduplication.service.ts
  src/services/mega-app/feature-request-pipeline/embedding.example.ts
  src/services/notion/client.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: Claude Max subscription-based AI execution
  .omc/plans/ar-dashboard-ui.md
  .omc/plans/self-modifying-agent-system.md
  .omc/ralplan-state.json
  .omc/state/checkpoints/checkpoint-2026-01-30T13-25-32-238Z.json
  .omc/state/checkpoints/checkpoint-2026-01-30T13-30-27-109Z.json
  .omc/state/checkpoints/wisdom-2026-01-30T13-25-32-238Z.md
  .omc/state/checkpoints/wisdom-2026-01-30T13-30-27-109Z.md
  .omc/state/subagent-tracking.json
  frontend/.omc/state/subagent-tracking.json
  frontend/dist/assets/index-CVY7NR9V.css
  frontend/dist/assets/index-DKp3blMr.js
  frontend/dist/assets/index-shYZcfip.css
  frontend/dist/index.html
  prisma/schema.prisma
  scripts/fix-migration.js
  src/api/marketplace-hub.ts
  src/mcp-servers/marketplace-hub/index.ts
  src/mcp-servers/marketplace-hub/tools/installExtension.ts
  src/mcp-servers/marketplace-hub/tools/searchMarketplace.ts
  src/mcp-servers/marketplace-hub/types.ts
  src/orchestrator/ai-executor.ts
  src/orchestrator/delegate-task.ts
  src/orchestrator/index.ts
  src/orchestrator/types.ts
  src/providers/claude-max-client.ts
  src/providers/claude-max-provider.ts
  src/providers/index.ts
  src/services/account-pool/account-pool.service.ts
  src/workers/orchestration.worker.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: update fix-migration.js to check for memberships table
  scripts/fix-migration.js
Due: none

fix: add migration to create missing memberships and approvals tables
  prisma/migrations/20260130_fix_missing_tables/migration.sql
Due: none

fix: create missing tables directly in fix-migration.js
  scripts/fix-migration.js
Due: none

feat: add Marketplace Hub navigation + API key settings
  frontend/dist/assets/index-BaKUZ1Eg.js
  frontend/dist/assets/index-CVY7NR9V.css
  frontend/dist/assets/index-ClT3VxBA.css
  frontend/dist/assets/index-DKp3blMr.js
  frontend/dist/index.html
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/MarketplaceHubPage.tsx
  prisma/schema.prisma
  src/api/marketplace-hub.ts
  src/api/slack-commands.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add OpenClaw-style Slack tools and commands
  src/api/slack-commands.ts
  src/mcp-servers/slack/client.ts
  src/mcp-servers/slack/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add API key management as MCP tools for agent automation
  src/mcp-servers/marketplace-hub/index.ts
  src/mcp-servers/marketplace-hub/tools/apiKeyManagement.ts
  src/mcp-servers/marketplace-hub/types.ts
  src/mcp/providers/marketplace-hub.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: add troubleshooting guide for auth failure due to Postgres corruption
  docs/troubleshooting/2026-01-30-auth-failure-postgres-corruption.md
Due: prettier --write

feat: comprehensive Slack tools and MCP Registry integration
  src/mcp-servers/slack/client.ts
  src/mcp-servers/slack/index.ts
  src/services/mcp-registry/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: update Slack commands for code operations integration
  src/api/slack-commands.ts
  src/api/slack.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add Phase 2 MCP providers for agent-accessible API
  src/mcp/providers/approval.ts
  src/mcp/providers/execution.ts
  src/mcp/providers/index.ts
  src/mcp/providers/knowledge-graph.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: add migration for marketplace API key columns
  prisma/migrations/20260130_add_marketplace_api_keys/migration.sql
Due: none

feat: add megaAppConfig to marketplace types and fix workflow type errors
  src/api/slack-commands.ts
  src/api/slack-native-commands.ts
  src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: type errors in costs and budget-alerts APIs
  src/api/costs.ts
  src/services/budget-alerts.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add MCP API endpoints and installer service
  src/api/mcp-servers.ts
  src/services/mcp-installer/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(code-worker): multi-stage Docker build + exclude tests from tsc
  code-worker/Dockerfile
  code-worker/tsconfig.json
Due: prettier --write

feat: Add auto-linking for Slack users to ExternalIdentity system
  frontend/src/hooks/useIdentityAdmin.ts
  frontend/src/pages/admin/IdentityManagement.tsx
  src/api/identity.ts
  src/api/slack.ts
  src/services/identity/types.ts
  src/services/slack-service.ts
  src/services/slack-user-provisioner.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: Add marketplace extensions API endpoints
  package-lock.json
  package.json
  src/api/marketplace.ts
  src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: Sync all Slack workspace members to Identity system
  src/api/identity.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: Add circuit breaker monitoring and reset endpoints
  src/api/health-dashboard.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(claude-connect): simplify account connection with Quick Connect tab
  frontend/src/pages/ClaudeConnectPage.tsx
  src/api/claude-connect.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: Add Slack sync button to Members page
  frontend/src/pages/MembersPage.tsx
Due: prettier --write

build: Rebuild frontend with Slack sync button
  frontend/dist/assets/index-BQnBMPLK.js
  frontend/dist/assets/index-BaKUZ1Eg.js
  frontend/dist/assets/index-CMNHwX53.css
  frontend/dist/assets/index-ClT3VxBA.css
  frontend/dist/index.html
Due: none

fix: AI incorrectly identifies as Playwright assistant
  src/orchestrator/ai-executor.ts
  src/orchestrator/skill-selector.ts
Due: prettier --write, eslint --fix --max-warnings=0

build: update frontend dist for Claude Connect UX
  frontend/dist/assets/index-BFSyLrnZ.js
  frontend/dist/assets/index-CMNHwX53.css
  frontend/dist/assets/index-DalzytyP.css
  frontend/dist/index.html
Due: none

fix: Resolve TypeScript build errors across codebase
  src/api/health-dashboard.ts
  src/api/routes/accounts.routes.ts
  src/mcp-servers/omc-bridge/example-integration.ts
  src/models/agent-activity.model.ts
  src/models/claude-account.model.ts
  src/models/quota-alert.model.ts
  src/models/usage-record.model.ts
  src/orchestrator/hybrid-executor.ts
  src/orchestrator/types.ts
  src/repositories/agent-activity.repository.ts
  src/repositories/claude-account.repository.ts
  src/repositories/quota-alert.repository.ts
  src/repositories/usage-record.repository.ts
  src/services/account-pool/account-pool.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: Resolve OKRs and Approvals page errors
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/pages/AgentMonitorPage.tsx
  frontend/src/pages/OKRPage.tsx
  src/admin/middleware/admin-auth.ts
  src/api/approvals.ts
  src/config/agent-loader.ts
  src/marketplace/api/marketplace.ts
  src/middleware/validation.middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: Auto-create membership for Slack users during identity resolution
  src/services/identity/identity-resolver.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: Auto-create membership when provisioning Slack users
  src/services/slack-user-provisioner.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: Add SlackUser table lookup to getUserBySlackId
  src/services/slack-service.ts
Due: prettier --write, eslint --fix --max-warnings=0
