Repository seankim-business/corp-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0"
  ],
  "frontend/src/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

docs: add OAuth setup guide for Slack and Notion integrations
  docs/OAUTH_SETUP.md
Due: prettier --write

feat: add Claude Max accounts management UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/ClaudeMaxAccountsPage.tsx
  src/api/claude-max-accounts.ts
  src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: add auth.nubabel.com fallback for API base URL
  frontend/src/api/client.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/pages/LoginPage.tsx
Due: prettier --write

fix: resolve Redis pool leak, RLS context warnings, and Slack auth fallback
  frontend/src/pages/OrgChangesPage.tsx
  jest.config.js
  package-lock.json
  package.json
  prisma/schema.prisma
  scripts/start.sh
  src/api/org-changes.ts
  src/api/sidecar-callbacks.ts
  src/api/slack.ts
  src/api/sse.ts
  src/api/workflows.ts
  src/auth/auth.routes.ts
  src/auth/auth.service.ts
  src/db/client.ts
  src/db/redis.ts
  src/middleware/auth.middleware.ts
  src/orchestrator/ai-executor.ts
  src/orchestrator/ambiguity-detector.ts
  src/orchestrator/intent-detector.ts
  src/orchestrator/result-aggregator.ts
  src/orchestrator/session-mapping.ts
  src/queue/base.queue.ts
  src/services/keyspace-notifications.ts
  src/services/mcp-registry.ts
  src/services/oauth-refresh.ts
  src/services/skill-learning/experience-tracker.ts
  src/services/sop-executor.ts
  src/utils/async-context.ts
  src/utils/data-isolation.ts
  src/utils/env.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: run prisma migrate deploy before db push to apply RLS migration
  Dockerfile
  railway.json
Due: prettier --write

fix: resolve failed 20260126_add_feature_flags migration before deploy
  Dockerfile
Due: none

fix: mark 20260126_add_feature_flags migration as applied (schema already synced)
  Dockerfile
Due: none

build: rebuild frontend with Claude Max accounts link in sidebar
  frontend/dist/assets/index-CHZ6HRYd.css
  frontend/dist/assets/index-CziVrBO7.js
  frontend/dist/assets/index-DSTUXyhC.js
  frontend/dist/assets/index-ejWgtOqf.css
  frontend/dist/index.html
Due: none

fix: add missing redis-ha.ts service file
  src/services/redis-ha.ts
Due: prettier --write, eslint --fix --max-warnings=0

[deploy] add starter workflows and migration fixes
  Dockerfile
  scripts/fix-migration.js
  scripts/seed-workflows.js
  scripts/start.sh
Due: none

[orchestrator] enhance AI executor and request analysis
  src/api/slack.ts
  src/index.ts
  src/mcp/providers/index.ts
  src/orchestrator/__examples__/intent-detection-usage.ts
  src/orchestrator/__tests__/intent-detector-llm.test.ts
  src/orchestrator/__tests__/multi-agent-orchestrator.test.ts
  src/orchestrator/__tests__/request-analyzer.test.ts
  src/orchestrator/__tests__/slack-response-formatter.test.ts
  src/orchestrator/ai-executor.ts
  src/orchestrator/request-analyzer.ts
  src/orchestrator/slack-response-formatter.ts
  src/workers/orchestration.worker.ts
Due: prettier --write, eslint --fix --max-warnings=0

[deploy] add seed-workflows.js to Docker image
  Dockerfile
Due: none

[fix] add missing slack MCP server module
  src/mcp-servers/slack/client.ts
  src/mcp-servers/slack/index.ts
  src/mcp-servers/slack/tools/getUser.ts
  src/mcp-servers/slack/tools/listChannels.ts
  src/mcp-servers/slack/tools/searchMessages.ts
  src/mcp-servers/slack/tools/sendMessage.ts
  src/mcp-servers/slack/types.ts
Due: prettier --write, eslint --fix --max-warnings=0

[fix] add all missing source modules
  src/__tests__/e2e/slack-orchestrator-mcp.test.ts
  src/__tests__/e2e/slack-orchestrator.test.ts
  src/__tests__/orchestrator/ai-executor.metrics.test.ts
  src/__tests__/orchestrator/result-aggregator.test.ts
  src/__tests__/utils/mock-metrics.ts
  src/api/marketplace-hub.ts
  src/marketplace/services/installation-executor.ts
  src/marketplace/services/sources/external/civitai-source.ts
  src/marketplace/services/sources/external/comfyui-source.ts
  src/marketplace/services/sources/external/glama-source.ts
  src/marketplace/services/sources/external/index.ts
  src/marketplace/services/sources/external/langchain-hub-source.ts
  src/marketplace/services/sources/external/mcp-registry-source.ts
  src/marketplace/services/sources/external/smithery-source.ts
  src/marketplace/services/sources/external/types.ts
  src/marketplace/services/tool-recommender.ts
  src/mcp/providers/notion.ts
  src/middleware/rate-limit.ts
  src/services/api-key-manager.ts
  src/services/cron-scheduler.ts
  src/services/marketplace/sources/index.ts
  src/services/marketplace/sources/mcp-registry-source.ts
  src/services/marketplace/sources/smithery-source.ts
  src/services/org-change-tracker.ts
  src/services/secrets-manager.example.ts
  src/services/secrets-manager.test.ts
  src/services/secrets-manager.ts
  src/services/slack-progress.service.ts
  src/services/webhook-delivery.ts
Due: prettier --write, eslint --fix --max-warnings=0

[fix] resolve failed materialized views migration - Remove mv_hourly_queue_stats (references non-existent work_queue/job_executions tables) - Add migration to fix-migration.js auto-resolve list
  prisma/migrations/20260128_add_analytics_materialized_views/migration.sql
  scripts/fix-migration.js
Due: none

[fix] auto-resolve all failed migrations dynamically
  scripts/fix-migration.js
Due: none

feat(extension): implement HookManager, Extension Loader, complete Kyndof Extension
  docs/IMPLEMENTATION_STATUS.md
  docs/planning/02-roadmap.md
  extensions/kyndof-fashion/IMPLEMENTATION_COMPLETE.md
  extensions/kyndof-fashion/README.md
  extensions/kyndof-fashion/hooks/onInstall.ts
  extensions/kyndof-fashion/hooks/onUninstall.ts
  extensions/kyndof-fashion/hooks/onUpdate.ts
  extensions/kyndof-fashion/index.ts
  extensions/kyndof-fashion/mcp/clo3d/index.ts
  extensions/kyndof-fashion/mcp/clo3d/tools/exportPattern.ts
  extensions/kyndof-fashion/mcp/clo3d/tools/getDesigns.ts
  extensions/kyndof-fashion/mcp/clo3d/tools/render3D.ts
  src/services/extension-loader/extension-loader.ts
  src/services/extension-loader/index.ts
  src/services/extension-loader/manifest-parser.ts
  src/services/extension-loader/route-registrar.ts
  src/services/extension-loader/types.ts
  src/services/hooks/hook-manager.ts
  src/services/hooks/index.ts
  src/services/hooks/types.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(db): add n8n integration models
  prisma/schema.prisma
Due: none

feat(n8n): add REST API client service
  src/services/n8n/__tests__/n8n-api-client.test.ts
  src/services/n8n/index.ts
  src/services/n8n/n8n-api-client.ts
  src/services/n8n/types.ts
Due: prettier --write, eslint --fix --max-warnings=0

[fix] pre-register all migrations as applied to prevent deploy failures
  scripts/fix-migration.js
Due: none

feat(queue): add n8n sync and generation queues
  src/queue/index.ts
  src/queue/n8n-generation.queue.ts
  src/queue/n8n-sync.queue.ts
  src/workers/index.ts
  src/workers/n8n-generation.worker.ts
  src/workers/n8n-sync.worker.ts
Due: prettier --write, eslint --fix --max-warnings=0

[fix] fallback to prisma db push when migrate deploy fails
  scripts/start.sh
Due: none

feat(n8n): add agent-based workflow access control
  src/services/n8n/index.ts
  src/services/n8n/permission-service.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(migration): use MODE() instead of subquery for most_used_category
  prisma/migrations/20260128_add_analytics_materialized_views/migration.sql
Due: none

feat(api): add n8n workflow management endpoints
  src/api/n8n.ts
  src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(n8n): add instance provisioner and credential sync services
  src/services/n8n/credential-sync.ts
  src/services/n8n/index.ts
  src/services/n8n/instance-provisioner.ts
Due: prettier --write, eslint --fix --max-warnings=0

[fix] add missing installation_mode column for Google OAuth
  scripts/fix-migration.js
Due: none

fix(migration): remove premature agents foreign key reference
  prisma/migrations/20260129_add_skill_ecosystem_tables/migration.sql
Due: none

[deploy] add auto migration on startup
  railway.toml
Due: none

fix(docker): replace deprecated --only=production with --omit=dev
  Dockerfile
Due: none

fix(tests): add playwright config and e2e test directory
  playwright.config.ts
  tests/e2e/health.test.ts
Due: none

[docker] fix dockerignore - include package-lock.json and migrations
  .dockerignore
Due: none

[fix] temporarily disable n8n routes to fix server startup
  .omc/AGENT_BOARD.md
  .omc/state/subagent-tracking.json
  AGENTS.md
  frontend/dist/assets/index-Cse164-U.css
  frontend/dist/assets/index-DDZf0tgg.css
  frontend/dist/assets/index-FIz85muB.js
  frontend/dist/assets/index-bO2VC6X3.js
  frontend/dist/index.html
  frontend/src/App.tsx
  frontend/src/pages/N8nWorkflowsPage.tsx
  frontend/src/stores/n8nStore.ts
  package.json
  src/config/error-templates.ts
  src/index.ts
  src/marketplace/services/reviews.ts
  src/orchestrator/skill-selector.ts
  src/orchestrator/skills/n8n-workflow-skill.ts
  src/services/execution-dag-visualizer.ts
  src/services/n8n/index.ts
  src/services/n8n/skill-adapter.ts
  src/services/n8n/sop-converter.ts
  src/services/n8n/workflow-generator.ts
Due: prettier --write, eslint --fix --max-warnings=0

[deploy] resolve failed migration before deploy
  railway.toml
Due: none

[fix] temporarily remove installationMode until migration is fixed
  .omc/state/subagent-tracking.json
  IMPLEMENTATION_SUMMARY_E5-T1.md
  docs/approval-risk-scoring.md
  prisma/migrations/20260130082711_add_feedback_capture/migration.sql
  prisma/migrations/20260130082733_add_feedback_capture/migration.sql
  prisma/schema.prisma
  railway.toml
  scripts/resolve-failed-migration.js
  src/api/n8n.ts
  src/api/slack.ts
  src/orchestrator/agent-registry.ts
  src/services/__tests__/approval-risk-scorer.test.ts
  src/services/approval-integration-example.ts
  src/services/approval-risk-scorer.ts
  src/services/feedback-capture.service.ts
  src/services/feedback/collector.ts
  src/services/index.ts
  src/services/n8n/index.ts
  src/services/n8n/sop-converter.ts
  src/services/n8n/workflow-generator.ts
  src/workers/notification.worker.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(db): handle rolled back migrations in fix-migration script
  scripts/fix-migration.js
Due: none

[fix] remove destructive marketplace_hub migration
  .omc/state/subagent-tracking.json
  TODO_MASTER.md
  prisma/migrations/20260130075319_add_marketplace_hub/migration.sql
  src/api/n8n.ts
  src/orchestrator/agent-registry.ts
  src/services/__tests__/approval-risk-scorer.test.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(n8n): add SOP to n8n bidirectional converter
  src/services/n8n/sop-converter.ts
Due: prettier --write, eslint --fix --max-warnings=0
